<h1>Listing accounts</h1>

<table>
  <thead>
    <tr>
      <th>Lv</th>
      <th>Price</th>
      <th>Description</th>
      <th>Selled</th>
      <th>User</th>
      <th>Pass</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.lv %></td>
        <td><%= account.price %></td>
        <td><%= account.description %></td>
        <td><%= account.selled %></td>
        <td><%= account.user %></td>
        <td><%= account.pass %></td>
        <td>Tags: <%= raw account.tag_list.map {|t| link_to t, admin_tag_path(t)}.join(',')%></td>
        <td><%= link_to 'Show', [:admin, account] %></td>
        <td><%= link_to 'Edit', [:edit, :admin, account] %></td>
        <td><%= link_to 'Destroy',[:admin, account], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_admin_account_path %>
