<div class="row">
	<% @accounts.each do |a| %>
	  <div class="col-md-3">
	    <div class="thumbnail">
				<% img = a.photos.first %>
				<%= link_to detail_path(id: a)  do %> 
					<%= image_tag img.photo_url,style: "height: 100%; width: 100%; display: block "%>
				<% end %>
	      <div class="caption">
	        <h3>Level <%= a.lv %></h3>
	        <p style="overflow:hidden"><%= a.description %></p>
	        <p><%= link_to 'Buy Now', confirm_path(id: a), class: "btn btn-block btn-primary", role: "button"%></p>
	      </div>
	    </div>
	  </div>
	<% end %>
</div>
<script type="text/javascript">
$(document).ready(function(){
  <% b=[] %>
  <% Tags.all.each do |t| b.push(t.name) end %>
  var tags = [];
  tags = <%= raw b %>
  $('#search').typeahead({source: tags});
});
</script>