<!DOCTYPE html>
<html>
<head>
  <title>SwTrade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="masthead">
    <ul class="nav nav-justified">
      <li class="active"><%= link_to 'Home', root_path %></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div style="margin-top: 2em; margin-bottom: 1em">
    <%= form_tag search_path, :method => 'post', role: "form", class: "form-inline" do %>
      <%= text_field_tag :search, params[:search], class: "form-control ", id: "search", autocomplete: "off",placeholder: "Search Monster Here", style: "width:76.2em", autocomplete: 'off', :data => {:provide => "typeahead"} %>
      <!--<input type="text" data-provide="typeahead" id="search" autocomplete="off">-->
      <%= submit_tag "search", :name => :nil, class: "btn btn-default"%>
    <% end %>
  </div>


  <!-- Example row of columns -->
  <!--<div class="row">
    <div class="col-lg-4">
    </div>
  </div>-->
  <%= yield %>

  <!-- Site footer -->
  <div class="footer">
    <p>© Company 2014</p>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  <% b=[] %>
  <% Tags.all.each do |t| b.push(t.name) end %>
  var tags = [];
  tags = <%= raw b %>
  console.log(tags);
  var colors = ["red", "blue", "green", "yellow", "brown", "black"];
  $('#search').typeahead({source: tags});
});
</script>
</body>
</html>
